<nav>
    <div class="nav-wrapper">
        <a routerLink="/inicio" class="brand-logo">LOGO</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/usuario">Usuario</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-productos">Productos</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesion</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/registro">Registrarse</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="seInicioSesion"><a routerLink="/administracion/usuario">Usuario</a></li>
  <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-productos">Productos</a></li>
  <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesion</a></li>
  <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
  <li *ngIf="seInicioSesion"><a routerLink="/seguridad/registro">Registrarse</a></li>
</ul>

